
.movie-card {
  background-color: var(--card-bg);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-image {
  width: 100%;
  height: 270px;
  object-fit: cover;
  display: block;
}

.movie-info {
  padding: 10px;
  color: var(--text-color);
  background-color: var(--card-bg);
}

.movie-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: var(--text-color);
}

.movie-meta {
  font-size: 14px;
  color: var(--text-color);
  margin-top: 4px;
}

.watchlist-btn {
  margin-top: 10px;
  padding: 6px 10px;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.watchlist-btn:hover {
  background-color: #555;
  color: #fff;
}
